   body{
    font-family: "lato Extended", lato, "Helvetica Neue",Arial, Helvetica, sans-serif;
    overflow-x: hidden;
   }
   nav{
      display: flex;
      justify-content: space-between;
      padding-left: 100px;
      padding-right: 100px;
  }
  nav .column ul li{
      list-style: none;
      display: inline;
      padding: 40px;
  }
  nav .column ul li a{
      text-decoration: none;
      color: black;
      font-size: 18px;
  }
  #Street{
      color: #6cb840;
  }
  #food{
      color: #EAAB1B;
  }
  .nav-bar{
      background-color: #E5E5E5;
      height: 800px;
      overflow: hidden;
  }
  button{
     width: 150px;
     height: 50px;
     background-color: #6cb840;
     border:none;
     text-align: center;
     color: white;
     border-radius: 20px;
     font-weight: bold;
 }
 .content{
     display: flex;
     justify-content: space-between;
     padding-left: 100px;
     padding-right: 100px;
     margin-top: 150px;

 }
.play{
    width: 400px;

}
.images{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border:2px dotted #6cb840;
    position: relative;
    z-index: 2;
    margin-right: 150px;
}
#image1{
    transform: translate(-40px, 200px);
    position: relative;
    z-index: 1;
}
#image2{
    transform: translate(-73px, 30px);
}
#image3{
    transform: translate(70px, -70px);
}
#image6{
    transform: translate(550px, 90px);
}
#image5{
    transform: translate(-220px, 250px);

}
#image4{
    transform: translate(150px, 70px);
    
}
.circle{
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    background-color:#B8E79C ;
    margin-left: 600px;
    transform: translateY(-1550px);

}
.column{
    position:relative;
    z-index: 2;

}
.eat{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}
.eating{
    padding-top: 400px;

}
.eating h1{
    padding-top: 400px;
    color: #EAAB1B;
}  

#Explore{
    color: black;
    text-align: center;
}
#Menu{
    color: #6cb840;
    text-align: center;
}
.deals{
    background-color: #C9ECB5;
    padding: 10px 200px;
    
}
    .deals h2{
        text-align: center;
        padding-top: 40px;
    }
    .deals h2 span{
        color:#81dd4b ;
    }
    #article{
        display: flex;
    }
    .Hot{
        position: relative;
        margin-right: 30px;
        
    }
    #amirali{
        position: absolute;
        left: 140px;
        top: 310px;
        width: 90%;
    }
    #combo{
        padding: 120px 200px;
       margin-left: 30px;
    }
    #combo h1 h3{
        text-align: left;
    }
    #combo  p{
        text-align: center;
    }
 .item-1{
background-color: white;
border-radius: 0px 0px 50px 0px;
text-align: center;
padding: 20px;
margin: 40px;

}
 .Explore-Menu{
      background-color: #EAF3E4;
    padding:20px ;
    }
    .Explore-Menu h3{
        text-align: center;
    
    }
    .Explore-Menu h3 span{
        color: #81dd4b ;
    }
     .item-content{
     display: flex;

     }
     .item-content img{
    transform: translate(-100px, 10px);
    display: flex;
     }
    .items{
    
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    
    }
    .row1{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
.table{
    background-color: #C9ECB5 ;
}
.contact{
    background-color: #FFF5DD;
    padding: 20px;
    text-align: center;
}

input[type=email]{
    border-radius: 20px;
    padding-left: 20px;
    padding: 20px 20px;
}
input[type=submit]{
     color: white;
     font-weight: bold;
     background-color: #6BB946;
     padding: 20px 30px;
 }
 .table{
     display: flex;
     background-color: #F0FAEC;
 }
 .us{
     color: #C9ECB5;
 }
 .footer2{
     padding-left: 200px;
 }
 .Footer3{
    padding-left: 500px; 
    padding-bottom: 100px;
    
 }
 .send{
     background-color: #6BB946;
     color: white;
     font-weight: bold;
    
 }
 .insta{
     padding-left: 800px;
     padding-bottom: 40px;
     margin-top: -110px;
 }
 .follow{
    margin-top: -100px;
 }